/* line 1, style.scss */
.social-share-wrapper div {
  float: left;
  margin-right: 10px; }

/* line 6, style.scss */
.social-share-wrapper div.share-on {
  padding: 5px;
  font-weight: bold; }

/* line 12, style.scss */
.social-share-wrapper div.share-on:hover {
  border: none;
  background-color: none; }

/* line 17, style.scss */
.social-share-wrapper div.facebook {
  background-color: #3a5795;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #3a5795;
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 25, style.scss */
.social-share-wrapper div.facebook a {
  color: white; }

/* line 29, style.scss */
.social-share-wrapper div.twitter {
  background-color: #55acee;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #55acee;
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 37, style.scss */
.social-share-wrapper div.twitter a {
  color: white; }

/* line 41, style.scss */
.social-share-wrapper div.linkedin {
  background-color: #007bb6;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #007bb6;
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 49, style.scss */
.social-share-wrapper div.linkedin a {
  color: white; }

/* line 53, style.scss */
.social-share-wrapper div.reddit {
  background-color: #ACD4FC;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #ACD4FC;
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 61, style.scss */
.social-share-wrapper div.reddit a {
  color: white; }

/* line 65, style.scss */
.social-share-wrapper div.gplus {
  background-color: #F44336;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #F44336;
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 73, style.scss */
.social-share-wrapper div.gplus a {
  color: white; }

/* line 77, style.scss */
.social-share-wrapper div a {
  text-decoration: none;
  border: none; }

/* line 82, style.scss */
.social-share-wrapper div:hover {
  border: 1px solid #000;
  background-color: transparent;
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 88, style.scss */
.social-share-wrapper div.gplus:hover a, .social-share-wrapper div.reddit:hover a, .social-share-wrapper div.linkedin:hover a, .social-share-wrapper div.twitter:hover a, .social-share-wrapper div.facebook:hover a {
  color: #000; }

/* line 92, style.scss */
.gplus:hover, .reddit:hover, .linkedin:hover, .twitter:hover, .facebook:hover {
  -webkit-transition: .06s ease all;
  transition: .06s ease all; }

/* line 96, style.scss */
.clear {
  clear: left; }
