.social-share-wrapper div {
	float: left;
	margin-right: 10px;
}

.social-share-wrapper div.share-on {
	padding: 5px;
	font-weight: bold;
}


.social-share-wrapper div.share-on:hover {
	border: none;
	background-color: none;
}

.social-share-wrapper div.facebook {
	background-color: #3a5795;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #3a5795;
	transition: .06s ease all;
}

.social-share-wrapper div.facebook a {
	color: white;
}

.social-share-wrapper div.twitter {
	background-color: #55acee;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #55acee;
	transition: .06s ease all;
}

.social-share-wrapper div.twitter a {
	color: white;
}

.social-share-wrapper div.linkedin {
	background-color: #007bb6;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #007bb6;
	transition: .06s ease all;
}

.social-share-wrapper div.linkedin a {
	color: white;	
}

.social-share-wrapper div.reddit {
	background-color: #ACD4FC;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #ACD4FC;
	transition: .06s ease all;
}

.social-share-wrapper div.reddit a {
	color: white;
}

.social-share-wrapper div.gplus {
	background-color: #F44336;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #F44336;
	transition: .06s ease all;
}

.social-share-wrapper div.gplus a {
	color: white;
}

.social-share-wrapper div a {
	text-decoration: none;
	border: none;
}

.social-share-wrapper div:hover {
	border: 1px solid #000;
	background-color: transparent;
	transition: .06s ease all;
}

.social-share-wrapper div.gplus:hover a, .social-share-wrapper div.reddit:hover a, .social-share-wrapper div.linkedin:hover a, .social-share-wrapper div.twitter:hover a, .social-share-wrapper div.facebook:hover a{
	color: #000;
}

.gplus:hover , .reddit:hover , .linkedin:hover , .twitter:hover , .facebook:hover {
	transition: .06s ease all;
}

.clear {
	clear: left;
}